<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704220234860-t0p77aloica9ev4jhndjlffq3atap03f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704220234860-t0p77aloica9ev4jhndjlffq3atap03f</string>
	<key>API_KEY</key>
	<string>AIzaSyAzqdgz4_upZ0MdToYT7fXf8AJmHYoX1JE</string>
	<key>GCM_SENDER_ID</key>
	<string>704220234860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.controlgastos.controldegastos.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>controldegastosperu</string>
	<key>STORAGE_BUCKET</key>
	<string>controldegastosperu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704220234860:ios:25d1e4a3f56f849b5a4449</string>
</dict>
</plist>